@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"inter","weight":"400","style":"normal","allowsCrossOrigin":true}] */
  font-family: 'inter';
  src: url('https://blofinpro.com/_next/static/media/regular-s.p.ef73b2a5.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"inter","weight":"500","style":"normal","allowsCrossOrigin":true}] */
  font-family: 'inter';
  src: url('https://blofinpro.com/_next/static/media/medium-s.p.142ef487.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"inter","weight":"600","style":"normal","allowsCrossOrigin":true}] */
  font-family: 'inter';
  src: url('https://blofinpro.com/_next/static/media/semibold-s.p.affd22f5.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"mori","weight":"400","style":"normal","allowsCrossOrigin":true}] */
  font-family: 'mori';
  src: url('https://blofinpro.com/_next/static/media/regular-s.p.2270c946.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"mori","weight":"600","style":"normal","allowsCrossOrigin":true}] */
  font-family: 'mori';
  src: url('https://blofinpro.com/_next/static/media/semibold-s.p.b2a2a10c.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"digitalNumbers","weight":"400","style":"normal","allowsCrossOrigin":true}] */
  font-family: 'digitalNumbers';
  src: url('https://blofinpro.com/_next/static/media/regular-s.p.36741e96.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  /* @FONTWARNING[{"type":"restricted","family":"siq","weight":"400","style":"normal","allowsCrossOrigin":true}] */
  font-family: 'siq';
  src: url('engine://1') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
